.container {
    height: calc(100vh - 100px);
    background-color: #222;
    display: flex;
  }
  
  .item {
    flex: 1;
    position: relative;
    display: flex;
    gap: 1rem;
  }
  
  .item:last-child {
    flex: 2;
    padding: 2rem;
    justify-content: space-between;
  }
  
  .card {
    flex: 1;
  }
  
  .title {
    width: min-content;
    font-size: 1rem;
    color: #b7903c;
  }
  
  .text {
    color: lightgray;
  }
  
  .motto {
    color: rgb(211, 211, 211);
  }
  
  @media screen and (max-width: 65em) {
    .container {
      height: auto;
      text-align: center;
    }
    .item:first-child {
      display: none;
    }
  
    .item {
      width: 100%;
      flex-direction: column;
    }
  
    .title {
      margin: auto;
      font-size: 3rem;
    }
  
    .text {
      font-size: 2rem;
    }
  }