.container {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    cursor: pointer;
}


.title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #d1411e;
}

.price {
    
    font-size: 1.8rem;
    font-weight: bold;
    color: #666;
}

.desc {
    text-align: center;
    color: #777;
}